@media all and (max-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }

  .secao-principal {
    display: flex;
    flex-flow: column;
  }

  .caixa-h3 {
    font-size: 1.4rem;
  }

  /* Cabeçalho */
  .caixa-cabecalho {
    padding: 1rem 0.5rem;

    & .nome-cabecalho-mobile {
      font-size: 1.6rem;
    }

    & nav ul {
      gap: 1rem;
    }

    .manter-click {
      & .menu-filhos {
        display: block;
        transition: all ease-in 30ms;
      }
    }
  }

  .hero-paragrafo {
    font-size: 1.2rem;
  }

  /* Hero */
  .secao-hero {
    .hero-nome {
      font-size: 1.4rem;
    }
    .container-hero {
      display: flex;
      flex-flow: column;
      gap: 2.5rem;
      align-items: center;
      margin-bottom: 2rem;

      & .social-media-icones {
        display: flex;
        gap: 0.2rem;
        padding: 0.4rem;
      }
    }

    /* .myphoto {
      width: 16rem;
      height: 16rem;
    } */
  }

  .circulo-logos {
    width: 8rem;
    height: 8rem;
    border-radius: 11rem;
    padding: 0.8rem;
    box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.8);
  }

  .namidia-titulo {
    font-size: 1.4rem;
  }
}
