.secao-principal {
  justify-content: center;
  padding: 0 2rem;
  max-width: 100%;
  background-color: whitesmoke;
}
/* Publicacoes */
.secao-publicacoes {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 2rem;
}

.container-artigos {
  display: flex;
  flex-flow: column;
  /*max-width: 100%;*/
  padding: 2rem;
}

.container-artigos__artigos {
  display: flex;
  position: relative;
  background-color: white;
  padding: 1rem 1rem 1rem 2.5rem;
  width: 100%;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
}

.pub_titulo {
  padding: 1.2rem 0.42rem 0.42rem 0.42rem;
  text-align: center;
}

.container-artigos ol {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
}

.container-artigos a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.container-artigos a:hover {
  font-weight: 600;
  color: blue;
}

a.doi {
  /* color: rgb(83, 83, 83); */
  font-weight: 800;
}
