/* Secao Cabecalho */
.caixa-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  height: 5.0rem;
  align-items: baseline;
  padding: 1.6rem;
  background-color: antiquewhite; /*whitesmoke;*/
  box-shadow: 0 0.21rem 0.4rem 0rem rgba(0, 0, 0, 0.1);

}

nav ul {
  display: flex;
  align-items: start;
  text-align: right;
  gap: 2.5rem;
}

/* display da sublista*/
.menu-filhos {
  position: relative;
}

.menu-filhos ul {
  display: none; /*menu oculto*/
  position: absolute;
  background-color: white;
  padding: 0.41rem 0;
  border-radius: 2rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15),
    inset 0 0.18rem 0.1rem rgba(0, 0, 0, 0.1);
  flex-flow: column;
  gap: 0.82rem;
  align-items: stretch;
  width: max-content;
  right: 0;
}

/* borda dos filhos */
.menu-filhos ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.41rem 2rem;
}
.menu-filhos ul li:last-child {
  border-bottom: none;
}
.menu-filhos:hover ul {
  display: block;
}

/*Itens do Menu*/
.item-cabecalho {
  & a {
    color: #404040;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    transition: color ease-in 200ms;

    &:hover,
    &:active {
      color: #f60;
    }
  }

  &.menu-filhos::after {
    content: "\2bc6";
  }
}


nav ul {
  list-style: none;
}


/* Secao Hero */
.container-hero {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  align-items: start;
  margin-bottom: 2rem;
  & .social-media-icones{
    & img {
      height: 2rem;
    }
  }
}

.secao-hero {
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem;
  margin-top: 1.2rem;
  padding: 2rem;
}

.myphoto {
  display: flex;
  flex-flow: column;
  flex-basis: initial;
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  position: flex;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
  flex: 1;
  margin-bottom: 2rem;
  background-color: antiquewhite;
}

.hero-coluna {
  display: flex;
  flex-flow: column;
  align-items: left;
  gap: 0.1rem;
  flex: 1;
}

.hero-paragrafo {
  color: #404040;
  font-family: Arial, sans-serif;
  margin: 0.4rem 0; /* margem entre parágrafos */
  font-size: 1.6rem;
}

.hero-botoes {
  display: inline-flex;
  justify-content: center;
  flex-flow: row;
  gap: 1rem;
}

.caixa-barra-lateral {
  border-left: solid rgb(214, 214, 214);
  padding-left: 2.53rem;
  gap: 2rem;
}


/*Secao Resumo profissional*/
.secao-profissional {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;  
}
.container-secao-resumo-profissional {
  border-radius: 5rem;
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.5);
  max-width: 1200px;
}
.caixa-cabecalho-resumo {
  background-image: linear-gradient(10deg, whitesmoke, rgb(233, 233, 220));
  padding: 3.9rem 3.9rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  box-shadow: inset 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}
.caixa-restante-diferenciais {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2.5rem 2rem;
  gap: 2rem;
  position: relative;
}
.caixa-diferencial-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  gap: 1.6rem;
  position: relative;
}
.caixa-texto-resumo {
  min-width: 300px;
  max-width: 500px;
  align-items: center;
  border-radius: 2.5rem;
  width: 70%;
  background-color: white;
  padding: 0.2rem 1.6rem 1.6rem 1.6rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
}
.caixa-grupos {
  min-width: 200px;
  max-width: 400px;
  border-radius: 2.5rem;
  height: fit-content;
  background-color: white;
  padding: 0.2rem 0.42rem 1.6rem 0.42rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
}
.caixa-grupos-logos {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.42rem;
  position: relative;
}
.caixa-icone {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  border-color: #404040;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 1.6rem;
  width: 8rem;
  height: 8rem;
}
.caixa-icone img {
  width: 100%;
  height: auto;
  filter: grayscale();
  opacity: 60%;
}
.caixa-h3 {
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  /* background-color: antiquewhite; */
  border-color: #404040;
  padding: 0.42rem 1.02rem;
  border-radius: 1rem;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 600;
  /* margin-top: 0.2rem;
  margin-bottom: 0.4rem; */
}
.circulo-logos {
  display: flex;
  align-items: center;
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 11rem;
  padding: 0.8rem;
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.8);
}
.circulo-logos img {
  width: 100%;
  height: auto;
  /* height: auto; */
}
.circulo-logos:hover {
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.8),
    0 0 0.8rem rgba(0, 0, 0, 0.35);
    transition: all ease-in 0.3s;
}

/* Geology Banner */
.secao-geology {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 100%;
}
.container-geology {
  display: flex;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14vh;
  background-image: url("../lszameitat/assets/img/banner-geo.JPG");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.geology-h2 {
  /* padding: 6.5rem; */
  display: flex;
  align-items: center;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 5rem;
  font-family: "Trebuchet MS", sans-serif;
  opacity: 50%;
}

/*Midia*/
.secao-midia {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 100%;
}
.container-midia {
  display: inline-flex;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  font-weight: 600;
  padding: 2.1rem 1rem 2.1rem 1rem;
  background-color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  gap: 2rem;

  &.namidia-links,
  &.namidia-titulo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  & .namidia-links {
    gap: 2rem;

    & a {
      transition: transform ease-in 0.15s;
      &:hover,
      &:active {
        transform: scale(1.1);
      }

    }
  }
}

/* Rodape */
.secao-rodape {
  display: flex;
}
.container-rodape {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 1.28rem;
  font-weight: 400;
  gap: 5rem;
}

/* Publicacoes */
.secao-publicacoes {
  display: flex;
  flex-flow: column;
  font-size: 1.28rem;
  padding: 2rem;
}

.artigos {
  flex-flow: row wrap;
  background-color: white;
  padding: 1rem 1rem 1rem 2.5rem;
  width: 100%;
}

.container-artigos ol {
  list-style-type: decimal;
  display: flex;
  flex-direction: column; /* Inverte a direção dos elementos */
}

.container-artigos a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.container-artigos a:hover {
  font-weight: 600;
}

.container-publ-type {
  /*uma "flex-list"*/
  display: flex;
  position: relative;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
  border-left: solid rgb(214, 214, 214);
  padding: 0rem 2.8rem;
  /*margin-bottom: 2rem;*/
  background-color: antiquewhite;
}

.lista-flex {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  padding: 0;
  height: 100%;
}

.item-flex {
  width: 330px; /* Define a largura desejada para cada coluna */
  box-sizing: border-box;
}
.item-flex li {
  border: 1px solid #ccc;
  /* padding: 1rem 1rem 1rem 5rem; */
  margin: 2px;
  text-align: justify;
  width: 100%; /* Garante que o conteúdo ocupe toda a largura da coluna */
}

.container-publ-type ly {
  display: flex;
}

a.doi {
  color: rgb(83, 83, 83);
  font-weight: 700;
}

.referencia-texto {
  font-size: 1.28rem;
  font-weight: 400;
  padding-left: 0.82rem;
  padding-bottom: 0.82rem;
}

/*PAGINA CODES*/

.secao-codes-for-education {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.container-cabecalho {
  max-width: 1000px;
  background-color: white;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.35),
    inset 0 0.18rem 0.1rem rgba(0, 0, 0, 0.1);
}
.container-cabecalho ul {
  margin-left: 2rem;
}

.codes-descricao {
  display: flex;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.82rem;
}

.botao-github {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;

  padding: 1rem;
  /* justify-items: center; */
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2.5rem;
  width: fit-content;
  height: auto;
  box-shadow: 0 0rem 0.8rem rgba(0, 0, 0, 0.35);
  margin-bottom: 3.9rem;
}
.botao-github img {
  height: 1.2rem;
}

.botao-github:active {
  background-color: #6e6e6e;
  box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.35);
}
.container-codes {
  /* max-width: 1000px; */
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: white;
  gap: 2rem;
  padding: 1.2rem;
  /* box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.35),
    inset 0 0.18rem 0.1rem rgba(0, 0, 0, 0.1); */
}
.codes-codes {
  /* font-size: 1.05rem; */
  font-size: 1.05rem;
  display: flex;
  flex-flow: column;
  position: initial;
  width: max-content;
}
.codes-codes p {
  text-align: left;
  font-size: 1.6rem;
}

.codes-codes a:hover {
  color: orange;
}

.nome-da-funcao {
  display: flex;
  flex-flow: row;
  align-items: last baseline;
  gap: 1.28rem;
}

.code {
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.35),
    inset 0 0.18rem 0.1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
}
